## Getting and Inspecting Data

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/drive.csv')
df.head()

,Game Code,Drive Number,Team Code,Start Period,Start Clock,Start Spot,Start Reason,End Period,End Clock,End Spot,End Reason,Plays,Yards,Time Of Possession,Red Zone Attempt
0,299004720130829,1,299,1,900.0,75,KICKOFF,1,597.0,0,TOUCHDOWN,10,75,303.0,1
1,299004720130829,2,47,1,592.0,79,KICKOFF,1,370.0,0,TOUCHDOWN,10,79,222.0,1
2,299004720130829,3,299,1,370.0,75,KICKOFF,1,230.0,0,TOUCHDOWN,6,75,140.0,0
3,299004720130829,4,47,1,215.0,10,KICKOFF,1,134.0,5,FIELD GOAL,4,5,81.0,1
4,299004720130829,5,299,1,129.0,84,KICKOFF,1,74.0,82,PUNT,3,2,55.0,0

In [4]:
print(df.shape, df.columns, df.dtypes)
df['Game Code'][10:25]
df.describe()

(22212, 15) Index(['Game Code', 'Drive Number', 'Team Code', 'Start Period', 'Start Clock',
       'Start Spot', 'Start Reason', 'End Period', 'End Clock', 'End Spot',
       'End Reason', 'Plays', 'Yards', 'Time Of Possession',
       'Red Zone Attempt'],
      dtype='object') Game Code               int64
Drive Number            int64
Team Code               int64
Start Period            int64
Start Clock           float64
Start Spot              int64
Start Reason           object
End Period              int64
End Clock             float64
End Spot                int64
End Reason             object
Plays                   int64
Yards                   int64
Time Of Possession    float64
Red Zone Attempt        int64
dtype: object

,Game Code,Drive Number,Team Code,Start Period,Start Clock,Start Spot,End Period,End Clock,End Spot,Plays,Yards,Time Of Possession,Red Zone Attempt
count,2.221200e+04,22212.000000,22212.000000,22212.000000,22098.000000,22212.000000,22212.000000,22098.000000,22212.000000,22212.000000,22212.000000,22098.000000,22212.000000
mean,4.435393e+14,13.900774,437.350486,2.465199,466.090415,70.038808,2.538133,394.889402,39.229831,5.647263,30.805871,137.158114,0.286872
std,2.734429e+14,8.079195,256.238626,1.119932,279.326128,17.140499,1.119984,274.374073,31.151988,3.336441,29.028121,91.296703,0.452311
min,2.047220e+12,1.000000,2.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,-37.000000,0.000000,0.000000
25%,2.310664e+14,7.000000,234.000000,1.000000,220.000000,64.000000,2.000000,142.000000,0.000000,3.000000,5.000000,72.000000,0.000000
50%,4.650466e+14,14.000000,457.000000,2.000000,465.000000,75.000000,2.000000,387.000000,43.000000,5.000000,22.000000,117.000000,0.000000
75%,6.710005e+14,20.000000,670.000000,3.000000,709.000000,80.000000,4.000000,632.000000,67.000000,8.000000,57.000000,186.000000,1.000000
max,2.915005e+15,41.000000,2915.000000,5.000000,900.000000,100.000000,5.000000,900.000000,100.000000,24.000000,99.000000,730.000000,1.000000

## Cleaning data

In [5]:
df.isna().sum()

Game Code               0
Drive Number            0
Team Code               0
Start Period            0
Start Clock           114
Start Spot              0
Start Reason            0
End Period              0
End Clock             114
End Spot                0
End Reason              0
Plays                   0
Yards                   0
Time Of Possession    114
Red Zone Attempt        0
dtype: int64

In [6]:
df = df.dropna()
print(df.shape)

(22098, 15)

## Challenge: Counting Values

In [ ]:
N = df['End Reason'].count()
df['End Reason'].value_counts()*100./N

## Challenge: Describing Only *Some* Data

In [ ]:
td = df[df['End Reason']=='TOUCHDOWN']
td['Time Of Possession'].describe()

## Challenge: The Best Team?

In [ ]:
df['Yards Per Play'] = df['Yards']/df['Plays']
teams_grouped = df.groupby(['Team Code'])
teams_grouped_mean = teams_grouped['Yards Per Play'].mean()
teams_grouped_mean.sort_values(ascending=False).head()